.container {
  padding: 30px;
}

.settings-cog {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 36px;
}

.strip {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.led {
  float: left;
  border: 1px solid #eee;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #222;
}

.my-color-outer {
  padding: 30px 50px;
}
.my-color {
  border: 1px solid #333;
  border-radius: 4px;
  width: 70px;
  height: 70px;
}

.blinky-dark {
  position: relative;
  background-color: #222;
  text-align: center;
}

.blinky {
  transition: all 1000ms;
  font-size: 96px;
  /*font-family: 'VT323', monospace;*/
  font-family: monospace;
}

.fill-buttons {
  padding: 20px 0;
}
